.expertise-section{
    padding-top: 2em;
}

.expertise-dev{
display: flex;
flex-direction: column;
align-items: center;
padding: 1em;
}


h4 {
    padding: 1.5em 0em 1em 0em;
}

#expertise-text-p {
    padding-top: 2em;
}


#expertise-row-1, #expertise-row-2 {
    display: flex;
    flex-direction: row;
    /* align-items: baseline; */
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

#expertise-row-1 li, #expertise-row-2 li {
    width:15em;
    padding: 3em 2em;
    }

#expertise-row-1{
    border-bottom: 1px solid rgba(0, 255, 229, 0.905);
    }


#expertise-table-2 img, #expertise-table-3 img {
    width: 3em;
}

#expertise-table-4 img, #expertise-table-5 img {
    width: 5em;
}

#expertise-table-1 img, #expertise-table-6 img {
    width: 4em;
}

#expertise-table-7 img, #expertise-table-8 img {
    width: 6em;
}


@media (max-width: 992px) {
    
    .expertise-dev{
        padding: 1.1em;
        }

    #expertise-row-1{
    border-bottom: 0;
    }

    #expertise-row-1 li, #expertise-row-2 li {
    width:20em;
    }

    #expertise-row-1 li, #expertise-row-2 li:not(:last-child):not(:nth-last-child(2)) {
        border-bottom: 1px solid rgba(0, 255, 229, 0.905);
        }

        .expertise-dev{
        text-align: center;
    }
}

@media (max-width: 671px) {
    #expertise-row-2 li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 255, 229, 0.905);
    }
    }

@media (max-width: 610px) {
.expertise-section{
    padding-top: 6em;
}
}

/* @media (max-width: 400px) {


#expertise-row-1 img, #expertise-row-2 img {
    width: 12vw;
    height: 12vw;
    }

#expertise-row-1 li, #expertise-row-2 li {
    padding: 2vw 1vw;
    max-width: 75vw;
}
} */

@media screen and (max-width: 350px) {

    .expertise-section{
        font-size: 4.5vw;
    }


}