.projects-section{
    padding: 8em 0em;
}

.projects-dev{
display: flex;
flex-direction: column;
align-items: center;
padding: 1em;
background-color: rgb(14, 15, 35);
margin: auto;
max-width: 110em;
}


h4 {
    padding: 1em 0em;
}

#projects-text-p {
    padding-top: 2em;
}


.projects-row-1, .projects-row-2 {
    display: flex;
    flex-direction: row;
    /* align-items: baseline; */
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.projects-row-1 li, .projects-row-2 li {
    width:15em;
    padding: 2em 0em 1.3em;
    margin: 0em 2em;
    }


.projects-row-1 li{
    border-bottom: 3px solid rgba(0, 255, 229, 0.905);
    }



#projects-table-2 img, #projects-table-3 img {
    width: 3em;
}

#projects-table-4 img, #projects-table-5 img {
    width: 5em;
}

#projects-table-1 img, #projects-table-6 img {
    width: 4em;
}

#projects-table-7 img, #projects-table-8 img {
    width: 6em;
}

.projects-menu {
    padding-top: 1.5em;
}

/* @media (max-width: 1248px) {
    .projects-row-1 li, .projects-row-2 li {
    width:22em;
}
} */


@media (max-width:  1248px) {
    
    .projects-dev{
        padding: 1.1em;
        }

    .projects-row-1{
    border-bottom: 0;
    }

    .projects-row-1 li, .projects-row-2 li {
    width:22em;
    }

    .projects-row-1 li, .projects-row-2 li:not(:last-child):not(:nth-last-child(2)) {
        border-bottom: 2px solid rgba(0, 255, 229, 0.905);
        }

        .projects-dev{
        text-align: center;
    }
}

@media (max-width: 866px){
    .projects-row-1 li, .projects-row-2 li{
        width: auto;
        max-width: 25em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

}

    h4 {
        padding: 0.5em 0em 1em 0em;
        width: 10em;
    }

    .projects-menu p {
        padding-top: 0.5em;
    }

    .projects-row-2 li:not(:last-child) {
        border-bottom: 2px solid rgba(0, 255, 229, 0.905);
    }
}

/* @media (max-width: 671px) {
    .projects-row-2 li:not(:last-child) {
        border-bottom: 2px solid rgba(0, 255, 229, 0.905);
    }
    } */



/* @media (max-width: 400px) {


.projects-row-1 img, .projects-row-2 img {
    width: 12vw;
    height: 12vw;
    }

.projects-row-1 li, .projects-row-2 li {
    padding: 2vw 1vw;
    max-width: 75vw;
}
} */

@media screen and (max-width: 350px) {

    .projects-section{
        font-size: 4.5vw;
    }


}