.expertise-section{
    padding-top: 10em;
}


.expertise-dev{
display: flex;
flex-direction: column;
align-items: center;
padding: 1em;
text-align: center;
background-color: rgb(14, 15, 35);
margin: auto;
max-width: 110em;
}


#expertise-text-p {
    font-size: 1.1em;
    padding-top: 3em;
    line-height: 28px;
    max-width: 43em;
}


#expertise-row-1, #expertise-row-2 {

    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    justify-content: end;
    list-style: none;
}

/* #expertise-row-1{
    padding-left:5.5em;
} */

.expertise-dev-1, .expertise-dev-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content:center;
    gap: 1em;

}

#expertise-row-1 li, #expertise-row-2 li {
    display: flex;
    flex-direction: row;
    padding: 1em 0em 1em;
    margin: 0em 1em;
    gap: 2em;
    }

    .expertise-img-div-1 , .expertise-img-div-2 ,.expertise-img-div-3 ,.expertise-img-div-4{
        width: 7em;
        height: 5.5em;
        /* margin: auto; */
    }

    .expertise-img-div-1, .expertise-img-div-2 {
    border-bottom: 2px solid aquamarine;
    }


    .expertise-menu {
        padding-top: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1em;
    }

    .expertise-menu h4{
        min-width: 11em;
        text-align: end;
        padding-right: 10px;
    }

#img2, #img3 {
    width: 2.5em;
    padding-bottom: 0.5em;
    margin: auto;

}


#img4, #img5 , #img6{
    width: 4em;
    padding-bottom: 0.5em;
    margin: auto;
}


#img1 {
    height: 4em;
    padding-bottom: 0.5em;
    margin: auto;

}


#img7, #img8 {
    height: 4em;
    padding-bottom: 0.5em;
    margin: auto;

}

@media (max-width: 799px) {

    #expertise-table-2 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.905);
    }

    .expertise-dev-1 {
        margin-bottom: 2em;
        gap: 0;
    }

    .expertise-dev-2 {
        gap: 0;
    }


    .expertise-img-div-1, .expertise-img-div-3 {
        border-bottom: 2px solid aquamarine;
        }
    

    .expertise-img-div-2 ,.expertise-img-div-4  {
        border-bottom: none;
    }

    .expertise-menu h4{
        min-width: 11em;
        text-align: end;
        padding-right: none;
        margin-left: 5em;
    }
}

@media (max-width: 671px) {


    .expertise-dev{
        padding-top: 8em;
    }

    #expertise-row-1, #expertise-row-2 {

        flex-direction: column;
        list-style: none;
    }

    .expertise-dev-1,.expertise-dev-2 {
        
        flex-direction: column;
    }

    .expertise-menu h4{
        min-width: 11em;
        text-align: start;
        margin-left: 0;
        white-space: nowrap;

    }
}


/* @media (max-width: 400px) {


#expertise-row-1 img, #expertise-row-2 img {
    width: 12vw;
    height: 12vw;
    }

#expertise-row-1 li, #expertise-row-2 li {
    padding: 2vw 1vw;
    max-width: 75vw;
}
} */

@media screen and (max-width: 350px) {

    .expertise-section{
        font-size: 4.5vw;
    }

    #expertise-text-p {
        line-height: 8vw;
    }
}