.projects-section{
    padding: 8em 0em;
}

.projects-dev{
display: flex;
flex-direction: column;
align-items: center;
padding: 1em;
background-color: rgb(14, 15, 35);
margin: auto;
max-width: 110em;
}


h4 {
    padding: 1em 0em;
}

#projects-text-p {
    padding-top: 2em;
}

.projects-text-h1{
    padding-bottom: 2em;
}

.projects-row-1, .projects-row-2 {
    display: flex;
    flex-direction: row;
    /* align-items: baseline; */
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.projects-row-2 {
    padding-top: 2em;
}

.projects-row-1 li, .projects-row-2 li {
    width:15em;
    padding: 2em 0em 1.3em;
    margin: 0em 2em;
    }


.projects-row-1 li{
    border-bottom: 3px solid rgba(0, 255, 229, 0.905);
    padding-bottom: 2em;
    }


.projects-row-1 img, .projects-row-2 img {
    width: 16em;
    border: 3px solid rgba(0, 255, 229, 0.905);
    padding: 0.5em;
}


.projects-menu h4 {
    /* padding-top: 1.5em; */
    color: white;
    width: auto;
    text-align: start;
}

/* @media (max-width: 1248px) {
    .projects-row-1 li, .projects-row-2 li {
    width:22em;
}
} */

.projects-table-programs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8em;
    /* align-items: end; */
    padding-top: 1em;
}

.projects-table-programs span {
    width: 2.5em;
    border: 1px solid rgba(0, 255, 229, 0.918);
    border-radius: 4px;
    text-align: center;
    width: auto;
    padding: 0.2em 0.4em;
    background: rgba(78, 78, 78, 0.355);
    color: rgba(0, 255, 229, 0.948);
    font-size: 0.8em;
}


@media (max-width:  1100px) {
    
    .projects-dev{
        padding: 1.1em;
        }

    .projects-row-1{
    border-bottom: 0;
    }

    .projects-row-1 li, .projects-row-2 li {
    width:22em;
    }

    /* .projects-row-1 li, .projects-row-2 li:not(:last-child):not(:nth-last-child(2)) {
        border-bottom: 2px solid rgba(0, 255, 229, 0.905);
        } */

        .projects-row-2 li:not(:last-child) {
            border-bottom: 2px solid rgba(0, 255, 229, 0.905);
        }

        .projects-dev{
        text-align: center;
    }

    .projects-dev p{
        text-align: start;
    }
}

@media (max-width: 866px){
    .projects-row-1 li, .projects-row-2 li{
        width: auto;
        max-width: 25em;
        /* display: flex; */
        /* flex-direction: row; */
        /* flex-wrap: nowrap; */

}

    h4 {
        padding: 0.5em 0em 1em 0em;
        width: 10em;
    }

    .projects-menu p {
        padding-top: 0.5em;
    }

    .projects-row-2 li:not(:last-child) {
        border-bottom: 2px solid rgba(0, 255, 229, 0.905);
    }

}


@media screen and (max-width: 350px) {

    .projects-section{
        font-size: 4.5vw;
    }


}